<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Articles for <%= source %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <!-- Header Partial File -->
    <%- include('../partials/header') %>
    <div class="container-fluid">
        <!-- Jumbotron with Custom Title-->
        <div class="jumbotron">
            <!-- So what i did was instead of trying to catch all the 404 not found errors in express.
            I decided that it would be fine to check that articles length
            because the request is being made and the articles variable
            is awaiting the response. Therefore if there are no articles...
            there must be something wrong with the reqest, not found.-->
            <% if(articles.length > 0) { %>
                <h1 class="display-4">Showing News for: <span class="text-uppercase"><%= source %></span></h1>
            <% } else {%>
                <h1 class="display-4">'<%= source %>' was not found ;(</h1>
            <% } %>
        </div>
        
        

        <div class="container">
        <!-- News for the title -->
        <div class="row">
            <% articles.forEach(article => { %>
              <div class="card col-lg-5 mx-auto my-2" id="articles">
                <img class="card-img-top mx-2 my-2" src="<%= article.urlToImage %>" alt="">
                    <div class="card-body">
                      <h5 class="card-title"><%= article.title %></h5>
                      <p class="card-text"><%= article.description %></p>
                      <a href="<%= article.url %>" class="card-link">Link to Article</a>
                    </div>
                  </div>
                <% }) %>   
          </div>
        </div>
        
    </div>
    <% include('../partials/footer') %> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>